!LICENSE
*.bak
*.o
*.obj
*.old
*.swp
*~
.tidyall.d/
/.build/
/.carton/
/Build
/Build.bat
/Makefile
/Mojo-Iutils-*
/_build/
/_build_params
/blib
/carton.lock
/local/
/pm_to_blib
MYMETA.*
cover_db/
nytprof.out
nytprof/
.vscode/